html {
    background-color: #1f1f1f;
}

h1 {
    color: #dddddd;
}

#calculator {
    padding: 10px;
    border: black solid 2px;
    width: 475px;
    margin: auto;
    background-color: darkslategrey
}

#screen {
    margin: 5px 0;
    width: 471px;
    height: 60px;
    background-color: #82cc2c;
    border: black solid 2px;
}

#screenDisplay {
    text-align: right;
    margin-right: 5px;
}

#options, #numbers {
    width: 475px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#numbers {
    width: 350px;
}

#operators {
    display: flex;
    flex-direction: column;
    float: right;
}

button {
    background-color: #ff5722;
    margin: 10px 0;
    padding: 14px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
}